#box1 {
	margin-top: -550px;
	margin-left:250px;
}

#box2 {
	margin-left: 500px;
	margin-top: -362px;
}

#box3 {
	margin-left: 750px;
	margin-top: -362px;
}

#box4 {
	margin-top: 40px;
	margin-left:250px;
}

#box5 {
	margin-left: 500px;
	margin-top: -362px;
}

#box6 {
	margin-left: 750px;
	margin-top: -362px;
}